<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>636670550777-9j8aiugksd1o549v8np03o9puvotatgu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAte9lvKvGTz7zscEsTyOoOTnoNZ7AiWqg</string>
	<key>GCM_SENDER_ID</key>
	<string>636670550777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.terer.merchant.app</string>
	<key>PROJECT_ID</key>
	<string>terer-development</string>
	<key>STORAGE_BUCKET</key>
	<string>terer-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636670550777:ios:236b82bcd3433eb607f828</string>
</dict>
</plist>